/* --------------------------------- SECTION - FEATURED OPPORTUNITIES: ----------------------------------- */
#featured-opportunities {
  padding: 35px 0;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  background-color: rgb(24,63,58);
}

#featured-opportunities h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 23px;
  padding-left: 82px;
}

.opportunities-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-opportunity {
  background-color: #fff;
  min-width: 410px;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-family: "Roboto Condensed";
}

.job-title {
  padding: 24px 20px;
  flex: 2;
  color: rgb(59, 59, 59);
}

.job-title p strong {
  font-weight: 600;
}

.job-location {
  font-weight: 400;
  font-size: 1rem;
}

.btn-to-apply {
  border: none;
  background-color: #ff598f;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  padding: 9px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Roboto Condensed";
  transition: background-color 1s;
}

.btn-to-apply:hover {
  background-color: rgb(59,25,36);
}


/* -------------------------------------------- SECTION - WELCOME: -------------------------------------------- */
#welcome {
  padding: 70px 90px 40px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.welcome-text {
  flex:1;
  color: rgb(73, 73, 73);
}

.welcome-text h2 {
  font-size: 2rem;
  font-family: "Roboto Condensed";
  margin-bottom: 30px;
}

.welcome-text h2 span {
  text-decoration: underline;
  text-decoration-color: rgba(0, 198, 181, 0.9);
  text-underline-offset: 7px;
}

.welcome-text p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 30px;
}

.welcome-image{
  flex:1;
}

.welcome-image img{
  width: 100%;
  height: auto;
}

.welcome-author p {
  font-family: "Roboto Condensed";
  color: #1b1b1b;
  font-size: 1.5rem;
  font-weight: 600;
}

.welcome-author span {
  font-family: "Roboto";
  color: #ff598f;
  font-size: 1.5rem;
  font-weight: 600;
}

/* -------------------------------------------- SECTION - LOCATION: -------------------------------------------- */
#location {
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.map {
  flex: 1;
}

.location-address {
  flex: 1;
  background-color: rgb(59,25,36);
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address-container {
  min-width: 230px;
}

.location-address h2 {
  font-size: 2rem;
  font-family: "Roboto Condensed";
  margin-bottom: 30px;
  font-weight: 500;
  width: 100%;
}

.location-address h2 span {
  text-decoration: underline;
  text-decoration-color: #ff598f;
  text-underline-offset: 7px;
}

.location-address p {
  font-size: 1.5rem;
  line-height: 1.9rem;
  margin-bottom: 24px;
}

.location-address p b {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 500;
}

.button-view-map {
  border: 3px solid #fff;
  width: fit-content;
  padding: 10px 20px;
  color: #fff;
  font-size: 1rem;
  background: transparent;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-view-map:hover {
  background-color: #ff598f;
}

/* -------------------------------------------- RESPONSIVE MEDIA SCREEN: -------------------------------------------- */

@media screen and (max-width: 600px) {
  #welcome {
    padding: 70px 40px 40px;
  }
}

@media screen and (max-width: 825px) {
  #location {
    width: 100%;
    flex-direction: column-reverse;
    height: fit-content;
  }

  .map {
    width: 100%;
  }

  .location-address {
    width: 100%;
  }

  .address-container {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #featured-opportunities {
    padding: 25px 0;
  }

  .opportunities-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) { 
  #welcome {
    flex-direction: column;
  }
}